# Disable directory listings
Options -Indexes

RewriteEngine On

# Disallow access to hidden files and directories (starting with a dot)
RewriteRule (^|/)\.(?!well-known) - [F,L]

# Don't rewrite existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything through index.php
RewriteRule ^(.*)$ index.php [QSA,L]
